name: caching

on:
  push:
  pull_request:

jobs:
  test_cache:
    runs-on: macos-15
    steps:       
    - uses: actions/checkout@v4
    - run: |
        brew update > /dev/null
        brew install ccache 2>&1
    - run: |
        clang++ --version
        clang++ --std=c++2b has_cxx20_atomic_ref.cpp -c -o out.o && echo "Plain: OK" || echo "Plain: FAIL"
        ccache clang++ --std=c++2b has_cxx20_atomic_ref.cpp -c -o out.o && echo "CCache: OK" || echo "CCache: FAIL"
        sudo xcode-select -switch "/Applications/Xcode_16.2.app"
        ccache -z
        echo "Second compilation"
        clang++ --version
        clang++ --std=c++2b has_cxx20_atomic_ref.cpp -c -o out.o && echo "Plain: OK" || echo "Plain: FAIL"
        ccache -s
        ccache clang++ --std=c++2b has_cxx20_atomic_ref.cpp -c -o out.o && echo "CCache: OK" || echo "CCache: FAIL"
        ccache -s
